<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not current_user.is_authenticated %}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {%endif %}
    {% if current_user.is_authenticated %}
    <a href="/logout">Logout</a>
    <a href="/user-chart">Summary</a>
    <a href="/admin/manage_cat">Manage Cat</a>
    {%endif %}

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>